.user {
    margin: 0 207px 32px 3px;
    font-family: NanumSquareEB;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.9px;
    text-align: left;
    color: #333333;
    width: 100%;
}

.title{
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    margin-top: 50px;
    display: block;
    margin-bottom: 10px;
}

.css-18q2db8{
    border-radius: 13px;
}

.css-1g2ca2g{
   border-radius: 13px;
   height: 350px;
}

.css-obterm{
    border: 1px solid #3182ce;
    color: #3182ce;
    background: #fff;
}

.css-obterm:hover{
    color: #fff;
}

.css-1ci8qso{
    border-radius: 20px;
    padding: 0 51px;
}

.css-huwc4k{
    border-radius: 20px;
    padding: 0 51px;
    float: right;
    margin-left: 10px;
}

.css-2qk8y3{
    float: right;
}

.subTitle{
    font-size: 14px;
    font-family: NanumSquareEB;
    letter-spacing: -0.5px;
    color: #c3c3c3;
    display: block;
    margin-bottom: 30px;
}
