.contents{
     width: 1469px;
     height: 789px;
     float: right;
     margin-top: 119px;
     margin-right: 46px;
     padding: 38px 99px 28px 68px;
     border-radius: 20px;
     border: solid 1px #efefef;
     background-color: #ffffff;

}

.contentsTitle{

}