.user{
    margin: 0 207px 32px 3px;
    font-family: NanumSquareEB;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.9px;
    text-align: left;
    color: #333333;
}